[Desktop Entry]
Version=1.0
Type=Application
Name=Touchtype Typing Game
GenericName=Typing Tutor
Comment=The TouchType Typing Game By Warren Falk
Exec=touchtype
Icon=touchtype.png
Terminal=false
Categories=Games;
StartupNotify=true

